@charset "utf-8";
// ---------------------------------
// 변수(Variables)
// ---------------------------------

$brand-primary:         #337ab7 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
