@charset "UTF-8";
/* 공통 */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button, table { font-family: Helvetica; font-size: 14px; line-height: 1.25em; }

body { -webkit-text-size-adjust: none; }

img, fieldset { border: 0; }

ul, ol { list-style: none; }

em, address { font-style: normal; }

a { color: #000; text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { vertical-align: top; }

button { border: 0; }

button span { position: relative; }

body { font-family: '나눔고딕', '맑은고딕'; }

/* 웹 접근성을 위한 감추기 */
.blind { overflow: hidden; position: absolute; left: 0; width: 1px; height: 1px; font-size: 0; line-height: 0; white-space: nowrap; }

#wrap { background: url(../img/bg.png); width: 100%; }

#wrap #content { width: 964px; margin: 0 auto; background: #fff; }

#wrap .tt { position: relative; }

#wrap .tt a { position: absolute; bottom: 53px; }

#wrap .tt .link1 { left: 257px; }

#wrap .tt .link2 { left: 486px; }

#wrap .tb { position: relative; }

#wrap .tb .txt1, #wrap .tb .txt2 { position: absolute; left: 48px; font-size: 14px; line-height: 1.7em; color: #727171; font-weight: bold; letter-spacing: -1.7px; word-spacing: 2px; }

#wrap .tb .txt1 li, #wrap .tb .txt2 li { background: url(../img/bul.gif) no-repeat 0 9px; padding-left: 9px; }

#wrap .tb .txt1 li img, #wrap .tb .txt2 li img { margin-top: 3px; }

#wrap .tb .txt1 li .subTxt, #wrap .tb .txt2 li .subTxt { color: #9f9f9f; font-size: 12px; }

#wrap .tb .txt1 { top: 277px; }

#wrap .tb .txt2 { top: 441px; }
