.clear { zoom: 1; }
.sp { display: inline; zoom: 1; }
.btn_txt { display: inline; zoom: 1; margin-top: 0px; }
.btn_upDown01 { display: inline; zoom: 1; }
.btn_upDown02 { display: inline; zoom: 1; }